{%load static %}
<div class="comments-area">
    <h4>Comments</h4>
 {% for comment in comments %}
<div class="comment-list  ">
   <div class="single-comment justify-content-between d-flex">
      <div class="user justify-content-between d-flex">
         <div class="thumb">
            <img src="assets/img/comment/commentimage.png" alt="">
         </div>
         <div class="desc">
            <p class="comment ">
               {{comment.comment_txt}} </p>
            <div class="d-flex justify-content-between">
               <div class="d-flex align-items-center">
                  <h5>
                     <a href="#">{{comment.name}}</a>
                  </h5>
                  <p class="date">{{comment.date_time}} </p>
               </div>
               <div class="reply-btn">
                  <a href="#" class="btn-reply text-uppercase">reply</a>
               </div>
               <div class="reply-btn">
                  <a href="#" class="genric-btn info-border radius small text-uppercase">Edit</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endfor %}
</div>